<!-- <nav class="navbar navbar-expand-lg bg-body-light"> -->
<!-- medium me bhi navbar expand chahiye isliye md likha -->
<!-- small me bhi navbar expand chahiye to likho sm -->
<nav class="navbar navbar-expand-sm bg-body-tertiary border-bottom sticky-top">
  <div class="container-fluid">

    <!-- icon directly nhi dikhega hume cdn font awzon ka link paste krna hoga  biolerpalte me paste kiya-->
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i>
    </a>

    <a class="navbar-brand fw-bold" href="/listings">
      Explore
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">

      <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="/listings">Explore</a> -->
      </div>

      <style>
        .btn-search {
          background-color: #fe424d;
          color: #fff;
          border: none;
          border-radius: 25px;
          padding: 0.6rem;

        }

        .btn-search i {
          display: inline;
          margin-right: 0.5rem;

        }

        .search-inp {
          border-radius: 25px;
          font-size: 1rem;
          padding: 1rem 1rem 1rem 1rem;
          width: 500px;
          height: 40px;
        }
      </style>


      <div class="navbar ms-auto">
        <form class="d-flex my-2" role="search">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search" />
          <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
<style>
  @media (max-width: 576px) {
  .navbar-collapse {
    background: #f8f9fa;
    padding: 1rem;
    border-radius: 12px;
  }

  .navbar-nav .nav-link {
    padding: 0.6rem 0;
  }

  /* search box full width */
  .navbar form {
    width: 100%;
  }

  .navbar input {
    width: 100%;
  }
}

</style>
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Add New Listing</a>
        <% if(!currUser){%>
          <!-- req.user hum ejs me use nhi kar sakte isliye local me ise store kar wa lete hai phir local idhar use karege-->
          <a class="nav-link" href="/signup">Sign up</a>
          <a class="nav-link" href="/login">Log In</a>
          <%}%>
            <% if(currUser){%>
              <a class="nav-link" href="/logout">Logout</a>
              <%}%>

      </div>


    </div>
  </div>
</nav>