<% layout("/layout/boilerplate")%>


<div class="row mt-3"> <!-- ye khud se likha row div -->

 <!-- ye boostrap ke comp ke alert se liya-->
   <div class="alert alert-danger d-flex align-items-center" role="alert">
      <div>
        <h4 class="alert-heading"><%=err.message %></h4>
        <!-- <p> <%=err.stack%></p>   stack bata hai kaha se err start hua  waise hum bheje nhi hai--> 
      </div>
    </div>

</div>

